:root {
    --text-myself: #074079;
    --text-about: #042a50;
    --text-buttons: #8417eb;
    --text-li: #333;
    --text-label: #042a50;
    --text-send-btn: white;
    --text-footer-link-hover: #ffffff;
    --bg-header: linear-gradient(135deg, #8EC5FC 0%, #E0C3FC 100%);
    --bg-card: #ffffff;
    --bg-my-skills: linear-gradient(135deg, #ffffff 0%, #f3f7ff 100%);
    --bg-button: linear-gradient(135deg, #82a6ca 0%, #c291f0 100%);
    --bg-body: #f7f8fc;
    --bg-footer: linear-gradient(135deg, #8EC5FC 0%, #E0C3FC 100%);
    --bg-li-hover: #E0C3FC;
    --send-btn-hover: (135deg, #4799eb 0%, #b065f7 100%);
    --error-color: red
}

.dark {
    --text-myself: #e6ecff;
    --text-about: #cfd8ff;
    --text-buttons: #caa8ff;
    --text-li: #d6dcff;
    --text-label: #cfd8ff;
    --text-send-btn: #ffffff;
    --text-footer-link-hover: #ffffff;
    --bg-body: #151521;
    --bg-header: linear-gradient(135deg, #1e1e2f 0%, #2b2b45 100%);
    --bg-card: #1e1e2f;
    --bg-button: linear-gradient(135deg, #6a7cff 0%, #9b6cff 100%);
    --bg-footer: linear-gradient(135deg, #1e1e2f 0%, #2b2b45 100%);
    --error-color: red --bg-li-hover: rgba(155, 108, 255, 0.15);
}

* {
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-body);
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;

    justify-content: space-evenly;
}

.container.visible,
section.visible {
    opacity: 1;
    transform: translateY(0);
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    background: var(--bg-header);
    padding: .5em;
}

section,
.container {
    opacity: 0;
    transition: opacity 1s ease;
    transform: translateY(1.3rem);
}

.theme-toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
}

.navigation {
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;

}

.link {

    line-height: 1.4;
    margin-bottom: 1em;
    font-size: .7rem;
    text-align: center;
    color: var(--text-myself);
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.myself {

    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    padding: .5em 1.5em;
    color: var(--text-myself);

}

.about {
    margin: auto;
    padding-bottom: 1em;
    font-size: 1.2rem;
    color: var(--text-about);


}



.hidden {
    display: none;
}

.about-me,
.container-projects,
.contact-form,
.my-skills {
    background-color: var(--bg-card);
}

.my-work,
.contact-me,
.burger {
    border-radius: .5rem;
    font-size: 1rem;
    border: rgb(151, 161, 216) solid 1px;
    padding: .5rem;
    margin: auto;



}

.my-work,
.contact-me {
    margin-top: 1rem;
}

.projects-href {
    margin-top: 2rem;
}

.my-work a,
.contact-me a,
.burger {
    color: var(--text-buttons);
}

.my-work:hover,
.contact-me:hover {
    transform: scale(1.1);
}

.my-work,
.contact-me {
    transition: .3s ease;
}

.projects-href,
.contact {
    text-decoration: none;
}

.projects-href:focus,
.projects-href:hover,
.contact:focus,
.contact:hover,
h2,
.contact-form,
.footer-text,
.footer-link {
    color: var(--text-myself);

}


main {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

section {
    width: 100%;

}

ul {
    width: 100%;
    text-decoration: none;
    list-style: none;
    padding: 1em;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

h2 {
    text-align: center;

    font-size: 1.1rem;
    margin-bottom: 1.5em;
}

.about-me {
    display: flex;
    flex-direction: column;
    border-left: .4rem solid #8EC5FC;
    backdrop-filter: blur(8px);

}

.about-me,
.container-projects,
.my-skills {
    margin: 1em 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
}

.about-me,
.my-skills {
    border-left: .4rem solid #8EC5FC;
}



li {
    color: var(--text-li);
    line-height: 1.4;
    margin-bottom: .4em;
    font-size: .95rem;
    padding: 1em .5em;

    text-align: center;

}

li:hover {
    background: var(--bg-li-hover);
    transform: translateY(-3px);

}

aside {
    margin-top: 2.5rem;
}



.container-projects {
    display: flex;
    flex-direction: column;
    border-right: .4rem solid #8EC5FC;



}

.projects {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;

}



img {
    display: block;
    width: 100%;
    margin: 1em auto;


}

.single-project {
    flex: 100%;
    border-radius: 1.5rem;
    border: #adbac7 solid 1px;
    overflow: hidden;
    transition: transform .3s, box-shadow .3s;

}

.contact-form {
    background-color: var(--bg-li-hover);
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.contact-form {
    text-align: center;
    margin-bottom: 1rem;
}

.contact-form {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
}

form,
ul {
    max-width: 760px;
}

form {
    width: 80%;
    margin: 0 auto;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin: auto;
    flex-wrap: wrap;
}

label {
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
    color: var(--text-label);
}

input,
textarea {
    padding: 0.7rem;
    border: 1px solid #bac0e2;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-family: inherit;
}

textarea {
    min-height: 7.5rem;
    resize: vertical;
}

.send-btn {
    padding: 0.8rem 1rem;
    background: var(--bg-button);
    color: var(--text-send-btn);
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s ease;
    margin-top: 1rem;
}

.form-sent {
    display: none
}

.input-error {
    border: 2px solid red;
}

.error {
    color: var(--error-color);
    font-size: 0.8rem;
    margin-top: 4px;
    display: block;
}

footer {

    padding: 1rem 0.5rem;
    text-align: center;
    margin-top: 2rem;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.05);
}

.send-btn:hover {
    background-color: #6b12c2;
}

.footer-text {

    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.footer {
    background: var(--bg-footer);
    padding: 1rem 0.5rem;
    text-align: center;
    margin-top: 2rem;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.05);
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.my-links {
    color: var(--text-myself);
    font-weight: 600;
    font-size: 0.9rem;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.my-links:hover,
.my-links:focus {
    color: var(--text-footer-link-hover);
    transform: translateY(-3px);
}



@media (min-width:675px) {


    .projects-href {
        margin-top: 0;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        gap: 1.5em;

    }



    .navigation {
        display: none;
    }

    .my-work,
    .contact-me {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1em .5em;
    }

    .the-content {
        display: flex;

        flex-direction: row-reverse;
        min-height: 100vh;
        align-items: stretch;
    }

    ul {
        width: 100%;
    }

    aside {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

    }

    main {
        display: flex;
        flex-direction: column;
        flex: 7;
        margin-top: 1rem;
    }



    .projects {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    .single-project {
        width: 100%;
        flex: 0 0 30%;
    }

    footer {
        display: flex;
        justify-content: space-around;
        gap: 1.5rem;


    }

    .footer-links {
        display: flex;
        flex-direction: row;
        gap: .8em;
        margin: 1rem 2rem;
    }
}